/* CUSTOM CSS */

/* App */

.app {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.footer {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0 10px 0;
    margin-top: auto; /* should make the footer down only if the application height is at least the view port height, that's why we've added 'min-height: 100vh;' to ".app" CSS class */
}

.section-1 {
    margin-bottom: 10px;
}

.home-logo {
    height: 50px;
}

.aux-link {
    display: block; /* to put element in a new line */
}

/* Job list page */

.job-list-hero {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 200px;
    background-size: 300%;
    background-image: linear-gradient( /* -45deg: from Top-Left to Bottom-Right */
        -45deg, rgb(38, 145, 207) 0%, rgb(43, 51, 160) 25%, rgb(96, 54, 127) 50%, rgb(153, 67, 61) 100%
    );
    animation: animateBG 20s ease infinite;
    max-width: 100%;
}

.job-list-title {
    color: white;
    margin: auto;
}

.jobs-container {
    flex: 1;
    display: flex;
    flex-direction: column; /* displaying card element one below the other */
    align-items: stretch; /* all cards occupy the entire width of their parent element */
}

.job-card {
    display: flex;
    align-items: center;
    border: 1px solid gray;
    border-radius: 20px;
    margin: 10px; /* margin between 2 subsequent cards */
    padding: 20px;
}

.job-logo {
    width: 100px;
}

.job-card-content {
    flex: 1; /* it will occupy the entire space */
}

.load-more-action {
    align-self: center;
}

.job-list-page {
    display: flex;
}

.filter-panel-container {
    margin: 10px;
    padding: 10px;
    border: 1px solid green;
    border-radius: 20px;
}

.job-hero {
    display: flex;
    align-items: center;
    margin: 20px;
}

.job-detail {
    display: flex;
    align-items: center;
    color: #222c;
}

.job-detail-value {
    margin: 0 5px; /* 0 for top and bottom, 5 for right and left */
}

.load-more-action {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

.load-more-btn {
    background: none;
    border: none;
    color: var(--background-color);
}

.job-title-link {
    color: var(--background-color);
    text-decoration: none; /* to remove the link underline */
}

.jvm-recent-jobs-card-img {
    display: flex;
    align-items: center;
}

/* Job page */

.jvm-jobs-details-card-profile-img {
    width: 100px;
    height: 100px;
    background: white;
    display: flex;
    align-items: center;
    border-radius: 50%; /* 50% to make it a circle */
    overflow: hidden; /* hide the parts that exceed/overflow the border */
    border: 2px solid var(--background-color);
}

.jvm-jobs-details-card-profile-title .job-detail {
    /* All CSS here will impact the child element 'job-detail' of parent element 'jvm-jobs-details-card-profile-title' */
    color: white;
}

.jvm-jobs-details-card-profile-title .job-detail-icon {
    /* All CSS here will impact the child element 'job-detail-icon' of parent element 'jvm-jobs-details-card-profile-title' */
    color: var(--background-color);
}

.container-fluid {
    padding: 0;
}

.jvm-jobs-details-top-card {
    color: white;
}

/* See doc: https://github.com/sindresorhus/github-markdown-css */
.markdown-body {
    font-family: Montserrat;
	box-sizing: border-box;
	min-width: 200px;
	margin-left: auto;
	margin-right: auto;
	padding: 45px;
}

@media (max-width: 767px) {
	.markdown-body {
		padding: 15px;
	}

	.logo {
	    min-height: 0 !important;
	    height: 0 !important;
	}
}

/* Form page */

.logo {
    position: relative;
    display: flex;
    align-items: center;
    height: 100%;
    min-height: calc(100vh - 52px);
    /* 'calc' is a function || '100vh' is the view height, which means the view as high as the screen || 52px is the height of the header which we got the browser */
    /* This function allows to make the right side section of the login page as high as the whole page without the height of the header. */
}

.logo img {
    /* position: fixed; /* it's positioned with respect to the edges of the screen, regardless of what you have on the page */
    position: sticky; /* if we scroll down, and the image goes upwards than this element with stick to the screen */
    top: 0;
    bottom: 0;
    margin: auto; /* it will position the logo in the middle of the screen, even when you scroll */
}

.logo::after { /* To render a backdrop for the logo, we can render a pseudo element 'after' */
    content: ""; /* rendering empty string, instead of using 'none' which means nothing will be rendered */
    position: absolute; /* it means that this element has a parent, in this case it's '.logo', and there we're using 'position: relative;' */
    z-index: -1;
    width: 100%;
    height: 100%;
    justify-content: center;
    background-size: 300%;
    background-image: linear-gradient( /* -45deg: from Top-Left to Bottom-Right */
        -45deg, rgb(38, 145, 207) 0%, rgb(43, 51, 160) 25%, rgb(96, 54, 127) 50%, rgb(153, 67, 61) 100%
    );
    animation: animateBG 20s ease infinite;
}

.auth-link {
    display: block; /* start at the new line to display the link below the button */
    margin: 20px 0; /* 20px up and down, 0 right and left */
}

/* Post Job Page */

textarea.form-control{
    min-height: 200px;
    font-family: monospace; /* 'monospace' font for markdown */
}

.job {
    padding: 0 12px;
}

.job label {
    font-size: 18px;
    font-weight: 500; /* semi-bold font */
}

.page-status-errors {
    border: 1px solid red;
    border-radius: 5px;
    color: red;
    padding: 10px;
    margin: 10px;
}

.page-status-success {
    border: 1px solid green;
    border-radius: 5px;
    color: green;
    padding: 10px;
    margin: 10px;
}

.top-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-submit-btn {
    width: 100%;
    margin-bottom: 20px;
}

/* Animation */
@keyframes animateBG {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}