.nav-link {
    color: red;
}

.header-container {
    display: flex;  /* aligning all items on a row - horizontally */
    align-items: center; /* aligning all items to the center */
    border-bottom: 1px solid black; /* to differentiate the header container from the rest of the app - a stripe diving header from the rest of the page */
}

.header-nav {
    margin-left: auto; /* pushing the navigation menu to the right as much as possible */
}

.header-links {
    display: flex; /* aligning all items on a row - horizontally */
    align-items: center; /* aligning all items to the center */
}

.nav-item {
    padding: 10px;
    list-style: none; /* to get rid off the list bullets */
}

.home-logo {
    height: 50px;
}

.aux-link {
    display: block; /* to put element in a new line */
}